/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    padding: 0 10px;
    /* DEBUG */
    background-color: #ADD8E6;
}

.container{
    background-color: #DAA520 ;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    align-items: center;
}

.logo{
    border: 1px black dashed;
    width: 25%;
}

.header-nav{
    border: 1px black dashed;
    width: 50%;
    text-align: center;
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}
.action{
    border: 1px black dashed;
    width: 25%;
    text-align: right;
}

/* HEADER CONTAINER */

.header-container{
    background-color: #00008B;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle{
    background-color: #EE82EE;
    width: 600px;
    height: 300px;
    
}